@import "./const.css";

html {
  font-family: var(--font-family-regular);
  font-size: var(--font-size-regular);
}

/*---- Main and body sections---*/
body {
  margin: 0 auto;
  max-width: 1200px;
  color: var(--white-color);
  background-color: var(--background-color-hard-dark);
  height: 40rem;
}

.main_container {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  height: 100%;
}

/* Tablet Styles */
@media screen and (max-width: 768px) {
  body {
    height: 100vh;
  }
  .main_container {
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.5rem;
  }
}

@media screen and (max-width: 425px) {
  .main_container {
    padding: 0.8rem;
    justify-content: space-around;
  }
}
/*-------*/
/*----Container Logo---*/
.container_1 {
  width: 10%;
}

@media screen and (max-width: 768px) {
  .container_1 {
    width: 100%;
    text-align: center;
  }
}

/*-----Container_2*/
.container_2 {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 20px;
}

.container_2 textarea {
  background-color: var(--background-color-hard-dark);
  color: var(--white-color);
  font-size: var(--font-size-regular);
  font-family: "Open Sans", sans;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  outline: none;
  resize: none;
  height: 100%;
  box-sizing: border-box;
}

.container_2 input:placeholder {
  color: var(--white-color);
}

.area_notification {
  font-size: 0.8rem;
  margin: 15px 0;
}
.container_bottons {
  display: flex;
  justify-content: center;
}

.button {
  color: var(--white-color);
  background-color: var(--background-color-dark);
  width: 10rem;
  padding: 12px 24px;
  margin-right: 1rem;
  border: 1px solid var(--background-color-hard-dark);
  border-radius: 24px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: all 0.4s;
}

.button:hover {
  font-weight: bold;
  background-color: var(--green-light-color);
  color: var(--background-color-dark);
}

.button_secundary {
  color: var(--background-color-hard-dark);
  background-color: var(--white-color);
  margin: none;
}

.button_secundary:hover {
  background-color: var(--red-color);
}

.button_secundary-copy:hover {
  background-color: var(--green-light-color);
}

/*tablet*/
@media screen and (max-width: 768px) {
  .container_2 {
    display: block;
    width: 100%;
    height: 50%;
    margin: 0;
  }

  .container_2 textarea {
    height: 70%;
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .container_2 textarea {
    font-size: 1rem;
    padding: 0;
  }
}
/*-------------*/

/*--- Container 3*/

.container_3 {
  background-color: var(--background-color-dark);
  border-radius: 12px;
  display: flex;
  padding: 1rem;
  width: 40%;
}
.container_doll {
  display: none;
  /*display: flex;*/
  flex-direction: column;
  justify-content: center;
}

.img-doll {
  max-width: 200px;
  margin-bottom: 20px;
}

.container-message {
  text-align: center;
}

.container-message h3 {
  margin-bottom: 10px;
  font-size: 19px;
}

.container-message p {
  font-size: 17px;
}

.container_reply {
  /*display: none;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container_reply p {
  margin: 0;
  line-height: 1.2rem;
}

@media screen and (max-width: 768px) {
  .container_3 {
    display: block;
    width: auto;
  }

  .container_doll {
    display: block;
    text-align: center;
  }

  .container_reply {
    display: none;
  }

  .container_reply p {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .img-doll {
    display: none;
  }
}
/*--------------*/
